<header class="container-fluid fondo">
    <div class="row justify-content-start">
        <div class="col-lg-12">
            <h1 class="display-4 text">Bienvenido</h1>
            <h1 class="display-4 text">Mi nombre es <br> {{miPorfolio?.name}}</h1>
            <div>
                <img class="aws2" src="./assets/images/image.png" alt="aws">
                <button type="button" class="btn btn-secondary btn-lg boton">
                    <a style="color: white;" class="inicio" [routerLink]="['/Inicio']">Entrar</a>
                </button>
            </div>
            
        <div class="text-center">
            <a class="fs-3 iconos" style="color: white;"  
                href="https://www.linkedin.com/in/luis-de-leonibus-63aa3639/">
                <i class="fa-brands fa-linkedin-in"></i></a>
            <a class="fs-3 iconos" style="color: white;"  href="https://github.com/luisdeleo">
                <i class="fa-brands fa-github"></i></a>
        </div>
        </div>
    </div>
</header>
