<section class="container-fliud background-grey">
    <div><a name="seccion 4" id="Educacion"></a>
        <h1>Educación</h1>
    </div>
    <div class="containter py-4">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card shadow card-height mb-3">
                    <div align="center" class="fs-3">
                        <i class="fa-solid fa-graduation-cap"></i>
                    </div>
                    <div class="card-body mb-3">
                        <h5 class="card-title text-center fs-3">SECUNDARIO</h5>
                        <p class="card-text text-center fs-5">Administración y Gestion de Empresas</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow card-height mb-3">
                    <div align="center" class="fs-3">
                        <i class="fa-brands fa-aws"></i>
                    </div>
                    <div class="card-body mb-3">
                        <h5 class="card-title text-center fs-3">AWS</h5>
                        <p class="card-text text-center fs-5">Cloud Practitioner</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="containter py-4">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card shadow card-height mb-3">
                    <div align="center" class="fs-3">
                        <i class="fa-solid fa-terminal"></i>
                    </div>
                    <div class="card-body mb-3">
                        <h5 class="card-title text-center fs-3">ARGENTINA PROGRAMA</h5>
                        <p class="card-text text-center fs-5">Programador Full Stack Web Junior</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow card-height mb-3">
                    <div align="center" class="fs-3">
                        <i class="fa-brands fa-js-square"></i>
                    </div>
                    <div class="card-body mb-3">
                        <h5 class="card-title text-center fs-3">ORACLE NEXT EDUCATION</h5>
                        <p class="card-text text-center fs-5">DevOps</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
