<section class="container-fluid">
    <div><a name="seccion 3" id="Porque"></a>
        <h1> ¿Porque Programación?</h1>
    </div>
    <div class="container py-4">

        <p align="center">
            A los 15 años y por consejo de mi padre, realice un curso de operación de pc. En el mismo vi puntos como
            Microsoft Office, mecanografia, instalación de programas, configuración de pc, entre otros. Desde ese
            momento
            pude relacionarme mucho mas facil con los aspectos tecnologicos que hoy rodean nuestro dia a dia. Luego
            por
            hobby
            segui interiorizandome mas y mas en aspectos tecnologicos tanto de pc como de smartphones, usando
            programas
            como
            Oddin, Photoshop (en niveles basicos), aplicaciones de diseño en 3D y mas.
            Despues que tome la determinación de dejar mi ultimo trabajo pense "¿Y ahora que hago?" y como si ese
            hobby
            de toda la vida me buscara a mi, me llego la invitación para participar del curso "AWS CLOUD
            PRACTITIONER"
            impartido por la Universidad Nacional de la Matanza. Y asi fue como a ese fuego tecnologico que me
            impulso
            en
            varias oportunidades se le sumo el hambre de conocimiento que me caracteriza. Y luego de casi un año
            me encuentro escribiendo estas palabras a través de un IDE usando Bootstrap, HTML y CSS.
        </p>
    </div>
</section>