<section class="container-fluid">
    <div><a name="seccion 3" id="Porque"></a>
        <h1> Algunos de mis trabajos </h1>
    </div>
    <div class="row">
        <div align="center" class="col-sm-12 mt-3">
            <p class="fs-4">
                Trabajos realizados con Adobe Photoshop para uso comercial (marquesinas y publicidad fisica)
                y en redes sociales.<br> Algunas marcas aun en actividad.
            </p>
        </div>
    </div>

 <div class="containter-fluid py-4">
        <div class="row justify-content-center">
            <div class="col-lg-3">
                <div class="card card-height mb-3">
                    <div align="center" class="card-body mb-5">
                        <img src="./assets/images/sa.jpg" alt="Avatar" style="width:100%">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-height mb-3">
                    <div align="center" class="card-body mb-5">
                        <img src="./assets/images/as.jpg" alt="Avatar" style="width:100%">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card card-height mb-3">
                    <div align="center" class="card-body mb-5">
                        <img src="./assets/images/da.jpg" alt="Avatar" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>