<section class="container-fluid">
    <div><a name="seccion 1" id="Presentacion"></a>
        <h1>Presentación</h1>
    </div>
    <div class="container py-4">
        <div class="row align-items-center py-3">
            <div class="col-sm-4">
                <img src="./assets/images/foto.jpg" alt="Perfil" class="img-fluid imagen">
            </div>
            <div class="col-sm-8 mt-3" align="center">
                <p class="fs-4 ">Mi nombre es {{miPorfolio?.name}}, tengo 30 años, soy de la ciudad de Morón,
                    Buenos Aires.
                    Soy egresado de bachiller con orientación en {{miPorfolio?.education.career}}
                    (2017).
                    Poseo la certificación “{{miPorfolio?.education.courses.name}}” de {{miPorfolio?.education.courses.enterprise}},
                    soy egresado del curso
                    de programación “{{miPorfolio?.education.courses3.name}} Se Programar" (finalizando la etapa 2 "Yo Programo") 
                    impartido por el Ministerio de
                    Desarrollo de la Nación y participo de la capacitación en {{miPorfolio?.education.courses2.career}} con la prestigiosa empresa {{miPorfolio?.education.courses2.enterprise}}, a traves de su linea
                    {{miPorfolio?.education.courses2.name}}".</p>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid texto-abajo" align="center">
    <div class="container fs-4">
        <p>Soy una persona versátil capas de desenvolverme en cualquier ambiente y
            tarea.
            Tengo hambre de conocimiento,
            si
            no se algo lo aprendo. Además, poseo un entusiasmo e imaginación sin igual, el mismo me lleva a
            dar
            el 100%
            de
            mí en cada tarea.
            Tengo conocimientos variados, adquiridos a lo largo de los años que me permiten tener varios
            puntos
            de vista
            para resolver cualquier problema que tenga enfrente.</p>
    </div>
</section>
