<section class="container-fliud background-grey">
    <div><a name="seccion 2" id="Experiencia"></a>
        <h1>Experiencia</h1>
    </div>
    <div class="container">
        <ul class="row justify-content-center list-unstyled mt-3">
            <li class="col-9 card mb-3">
                <div class="row ">
                    <div class="col">
                        <div class="card-body ">
                            <h4 class="card-title display-6 text-center">Enero 2010 al Junio 2011</h4>
                            <p class="card-text fs-4 text-center" *ngIf="miPorfolio">
                                Pude desempeñarme como inspector dentro del {{miPorfolio.experience2.name}}
                                en el cual participe del control de autotransporte público de pasajeros rama larga
                                distancia, Confección
                                de
                                habilitaciones,
                                Inspecciones de rutina a empresas.
                                Aqui pude interactuar con la parte legal del transporte publico, fortaleciendome en
                                habilidades como:
                                interpretacion tecnica,
                                comprención y cumplimiento de la ley, y como esto afecta no solo a usuarios sino a
                                todos
                                los
                                ciudadanos.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-9 card mb-3">
                <div class="row ">
                    <div class="col">
                        <div class="card-body">
                            <h4 class="card-title display-6 text-center">Septiembre 2011 al Junio 2012</h4>
                            <p class="card-text fs-4 text-center">
                                Fundamos junto a mi padre y amigos la agencia de viajes “NUESTRAS RAICES”
                                ubicada en Virrey del pino.
                                Mis principales funciones eran la venta online, atención al público , cobros,
                                atención a empresas, entre otros. Luego de dos exitosos años y debido a factores
                                fuera de nuestro control, debimos cerrar.
                                En la misma pude aprender como interactuar con los clientes, formando mi caracter
                                hacia un lado mas calido conectivo con cada cliente,
                                ademas de ser una de mis primeras experiencias al frente de un negocio y todas las
                                responsabilidades que eso conlleva.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-9 card mb-3">
                <div class="row ">
                    <div class="col">
                        <div class="card-body">
                            <h4 class="card-title display-6 text-center">Enero 2015 al Diciembre 2020</h4>
                            <p class="card-text fs-4 text-center">
                                Con la ayuda de mi siempre emprendedora esposa Laura, abrimos varios "E-COMMERS"
                                a través de la plataforma "FACEBOOK" y su tienda "MARKETPLACE". Solo por nombrar
                                algunos estan "SEPTIMO DECO" e "INTERIORES LIBERTAD", de comercio de amoblamiento
                                para el hogar.
                                Esta es unas de las experiencias mas enrriquecedoras por las que pude pasar. Tratando
                                tanto con grandes empresas o distribuidores, hasta personas de bajos recursos. Aqui
                                pude formar mi lado
                                cooperativo ya sea trabajando con amigos
                                o desconocidos, haciendo desde reparto, pasando por cobros, hasta dirigir toda la
                                operación tanto comercial como de dieseño.
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="col-9 card mb-3">
                <div class="row">
                    <div class="col">
                        <div class="card-body">
                            <h4 class="card-title display-6 text-center">Julio 2012 - Diciembre 2020</h4>
                            <p class="card-text fs-4 text-center">
                                Tube la suerte de poder trabajar como "CONDUCTOR DE AUTOTRANSPORTE PUBLICO DE
                                PASAJEROS", en la linea "BUENOS AIRES BUS S.A." (49-EX BARTOLOME MITRE). De la misma
                                manera que con
                                los diversos e-commers esta fue una de las experiencias mas gratas en las que pude
                                participar. Aprendi lo que es el
                                verdadero compañerismo, llevando marcado a fuego muy buenas amistades.                                
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
